.navbar_styles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #333;
}

.navbar_styles h3 {
  color: white;
  margin-right: auto;
  padding: 10px;
}

.navbar_styles li {
  margin: 0 10px;
}

.navbar_styles li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar_styles li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .navbar_styles {
    flex-direction: column;
    align-items: center;
  }

  .navbar_styles h3 {
    margin-bottom: 10px;
  }

  .navbar_styles li {
    margin: 5px 0;
  }
}
